@model List<Product>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Command</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.CategoryId</td>
                <td>
                    <img src="/images/@item.ImageUrl" alt="@item.Name" width="80">
                </td>
                <td>@item.ImageUrl</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@item.Unit</td>
                <td>
                    <a href="/product/edit/@item.Id">Edit</a>
                    <a href="/product/delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>