@model List<Product>


<a href="/product/add">Add</a>


@if (TempData["Msg"] != null)
{
    <div class="alert alert-success">@TempData["Msg"]</div>
}

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Command</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Category?.CategoryName</td>
                <td>
                    <img src="/images/@item.IMAGEUrl" alt="@item.Name" width="80">
                </td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@item.Unit</td>
                <td>
                    <a href="/product/edit/@item.Id">Edit</a>
                    <a href="/product/delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>